<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Priyansh Sharma</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/work.css">
    <link rel="stylesheet" href="/css/about.css">
    <link rel="stylesheet" href="/css/contact.css">







<body>
    <div class="container ">


        <nav class="navbar navbar-default navbar-inner navbar-inner-2">
            <div class="container about-bar">
                <div class="navbar-header myname ">
                    <p class="navbar-brand">Priyansh Sharma</p>
                </div>
                <ul class="nav navbar-nav navbar-right ul-classic">
                    <li id="home"><a href="/">HOME</a></li>
                    <li id="home"><a href="/work">Work</a></li>
                    <li id="about"><a href="/about">ABOUT</a></li>
                    <li id="contact"><a href="/contact">CONTACT</a></li>
                    <li id="contact"><a href="/play">PlayGround</a></li>
                </ul>
            </div>
        </nav>

        <div class="container cont-main">
            <div class="row title-text">
                <div class="title-box">
                    <h1>Get In Touch</h1>
                    <p class="pony-p">Available for questions, collabration, projects & coffee</p>
                    <em>-Indore(Madhya Pradesh)</em>
                </div>

            </div>
            <div class="row post-row">
                <div class="col-6 colofduty gif-me">
                    <video width="100px" autoplay muted loop src="/img/VID_20220315_002808_01.mp4" type></video>
                </div>
                <div class="col-6 colofduty2">
                    <div class="row fill-out">
                        <h1>&#8226; Keep In Touch &#8226;</h1>
                    </div>
                    <div class="underline1">
                    </div>

                    <div class="row form-me">

                        <form action="/contact" method="post" class="mkck">
                            <div class="mb-3">


                                <div class="row">
                                    <div class="col">
                                        <div class="fname form-karo">
                                            <label for="fname"></label>
                                            <input style="font-size:17px;" type="text" id="disabledTextInput"
                                                class="form-control form-style" name="fname"
                                                placeholder="My First Name Is">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="lname form-karo">
                                            <label for="lname"></label>
                                            <input style="font-size:17px;" type="text" id="disabledTextInput"
                                                class="form-control form-style" name="lname"
                                                placeholder="My Last Name Is">
                                        </div>
                                    </div>
                                </div>

                                <div class="email form-karo">
                                    <label for="email"></label>
                                    <input style="font-size:17px;" type="email" id="disabledTextInput"
                                        class="form-control form-style" name="email" placeholder="My Email Is">
                                </div>



                                <div class="subject form-karo">
                                    <label for="subject"></label>
                                    <select placeholder="Subject line" style="font-size: 17px;" name="subject" id="subject_input" required class="form-style">
                                        <option disabled hidden selected>Subject line</option>
                                        <option>I'd like to start a project</option>
                                        <option>I'd like to ask a question</option>
                                        <option>I'd like to make a proposal</option>
                                    </select>
                                </div>

                                <div class="form-floating form-karo">
                                    <label for="message"></label>
                                    <textarea placeholder="I'D Like To Chat About"   style="font-size:17px;height: 100px" name="message" class="form-control form-style textarea" id="floatingTextarea2">I'D Like To Chat About</textarea>
                                </div>

                                <div class="submit">
                                    <button class="btn btn-primary my-btn" type="submit" name="button" id="form_button">Publish</button>
                                  </div>
                                


                            </div>
                        </form>
                    </div>

                </div>

            </div>
            <div class="row call-karo">
                <div class="col ssm11">
                    <h1 class="socialh">Connect</h1>
                    <p class="gold"><a class="social-m" href="https://www.instagram.com/priyansh_sharma_21/">Instagram</a></p>
                    <p class="gold"><a class="social-m" href="https://www.linkedin.com/in/priyansh-sharma-7b9520223/">LinkedIn</a></p>
                    <p class="gold"><a class="social-m" href="https://twitter.com/Priyansh_____">Twitter</a></p>
                    <p class="gold"><a class="social-m" href="https://github.com/Priyanshsharma21">GitHub</a></p>
                </div>
                <div class="col ssm11">
                    <h1>Contact</h1>
                    <p class="gold">799.993.7157</p>
                    <p class="gold"><a class="social-m"
                            href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=piyuindia4@gmail.com"
                            target="_blank">Gmail</a></p>
                </div>
                <div class="col login">

                    <a href="/login" class="btn btn-sm animated-button victoria-two" href="/register" role="button"
                        alt="Button" style="margin-top: 57px;">Login</a>
                        
                </div>
                <div class="col login">
                    <a href="/register" class="btn btn-sm animated-button victoria-three" href="/login" role="button"
                        alt="Button" style="margin-top: 57px;">Register</a>
                </div>

            </div>
        </div>













    </div>










    <div class="footer-padding footerp-ab "></div>
    <div class="footer footer-about" style="text-align: center; align-items: center;">
        <p>Design and code by Priyansh Sharma ©️ 2022</p>
    </div>

    <script src="/views/index.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>

</body>

</html>