
<%- include("partials/header"); -%>



<div class="name">
    <h3>Hello~ ,I'am Priyansh</h3>
</div>


<div class="wrapper">
    <div class="typing-demo">
        Passionate For Web Devlopment
    </div>
</div>

<div class="btn">
    <span class="span-boy"><a href="/about"></a></span> 
</div>






<%- include("partials/footer"); -%>
